body {
	padding-top: 30px;
}

.oculto {
	display: none;
}

.visto {
	display: inline;
}

.platillo img{
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
}

.margen-superior {
	margin-top: 6px;
 }

.margen-inferior {
	margin-bottom: 10px;
 }
 
.flash-mensaje {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10000;
}
